# One buffer allocated within the central tracing binary for the entire trace,
# shared by the two data sources below.
buffers {
  size_kb: 65536
  fill_policy: RING_BUFFER
}

# Ftrace data from the kernel, mainly the process scheduling events.
data_sources {
  config {
    name: "linux.ftrace"
    target_buffer: 0
    ftrace_config {
      ftrace_events: "sched_switch"
      ftrace_events: "sched_waking"
      ftrace_events: "sched_wakeup_new"

      ftrace_events: "task_newtask"
      ftrace_events: "task_rename"

      ftrace_events: "sched_process_exec"
      ftrace_events: "sched_process_exit"
      ftrace_events: "sched_process_fork"
      ftrace_events: "sched_process_free"
      ftrace_events: "sched_process_hang"
      ftrace_events: "sched_process_wait"
      # AMD GPU核心调度事件
      ftrace_events: "amdgpu_cs_ioctl"          # 用户态提交GPU命令
      ftrace_events: "amdgpu_sched_job_submit"  # GPU任务提交到调度器
      ftrace_events: "amdgpu_sched_run_job"     # 开始执行GPU任务
      ftrace_events: "amdgpu_sched_job_done"    # GPU任务执行完成
      ftrace_events: "amdgpu_gpu_busy"          # GPU核心利用率事件
    }
  }
}

# Resolve process commandlines and parent/child relationships, to better
# interpret the ftrace events, which are in terms of pids.
data_sources {
  config {
    name: "linux.process_stats"
    target_buffer: 0
  }
}

data_sources {
  config {
    name: "track_event"
    track_event_config {
        enabled_categories: "gpu"
    }
  }
}

# 10s trace, but can be stopped prematurely.
duration_ms: 10000
